<footer id="main_footer">
  <p class="copyright"> Feito com amor por Letícia Vaneli</p>
    <nav>
      <a href="https://www.twitter.com/leticiavaneli" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://www.instagram.com/petite.epiphanie" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="https://www.facebook.com/leticia.vanelli" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://www.linkedin.com/in/leticiarafael/" target="_blank"><i class="fa fa-linkedin"></i></a>
  </nav>
</footer>
